<div class="dash-nav" style="width: 4.5%;"> 
    <img src="https://media.discordapp.net/attachments/1041782780482289714/1042331769984254012/Group_17.png" style="transform: scale(0.5); margin-top: -7.5vw;" alt="">
    <ul style="margin-top: 5vw;">
        <li>
            <a href="/dashboard">
                <img src="../assets/home.svg">
            </a>
        </li>
        <li>
            <a href="/dashboard/tasks">
                <img src="../assets/task.svg">
            </a>
        </li>
        <li>
            <a href="/dashboard/meet">
                <img src="../assets/meet.svg">
            </a>
        </li>
        <li>
            <a href="/dashboard/shop">
                <img src="../assets/shop.svg">
            </a>
        </li>
        <li>
            <a href="/dashboard/profile">
                <img src="../assets/profile.svg">
            </a>
        </li>
    </ul>
</div>