<form action="/crack" method="post" class="riddle">
    <p style="font-size: 3.5vw;">
        <%= ques[0] %>
    </p>
    <input type="text" name="ans" id="ans" placeholder="spill it">
    <input type="submit" class="submit" value="Let's Go!!">  
</form>