<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="icon" href="https://media.discordapp.net/attachments/1041782780482289714/1042331769984254012/Group_17.png">
    <title>ADDA WARRIORS</title>
</head>
<body>
    <%- body %>
</body>
</html>