<div class="login-div">
    <%- include('./partials/errors') %>
    <form action="/login" method="post" autocomplete="OFF">
        <input type="text" name="name" placeholder="codename" id="name" required>
        <input type="password" name="password" placeholder="password" id="password" required>
        <input type="submit"></input>
    </form>
</div>