
<div class="landing-div">
    <div
    style="display:flex;
    align-items:center;
    justify-content:center;"
    >
        <a href="/login">Login</a>
        <a href="/register">Register</a>
    </div>
</div>
